1 VERSIONINFO
FILEVERSION 5,5,0,0
PRODUCTVERSION 5,5,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "041103A4"
	{
    VALUE "Comments", "フリーソフトです"
    VALUE "CompanyName", ""
    VALUE "FileDescription", "なろう系作品テキストダウンローダー"
		VALUE "FileVersion", "5.5.0.0"
		VALUE "LegalCopyright", "INOUE, masahiro"
		VALUE "OriginalFilename", "na6dl.exe"
		VALUE "ProductName", "なろう系作品テキストダウンローダー"
		VALUE "ProductVersion", "5.5"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0411 0x03A4  
}
}
